{% extends "base.html" %} {% block styles %}
<style>
  div.messages {
    background-color: lightcyan;
    width: 700px;
    height: 400px;
    overflow: scroll;
  }
</style>
{% endblock %} {% block content %}
<h1>Welcome to {{chatroom}}, {{ current_user.username }}!</h1>
<div class="messages">
  {% for message in messages %}
  <p><b>{{ message.user.username }}:</b> {{ message.body }}</p>
  {% endfor %}
</div>

<form action="" method="POST">
  <input type="text" class="message" placeholder="Message" required/>
  <input type="submit" />
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script type="text/javascript">
  const socket = io.connect("http://" + document.domain + ":" + location.port);

  socket.on("connect", function () {
    const form = $("form").on("submit", function (event) {
      event.preventDefault();
      const message = $("input.message").val();
      let eventOption = "receive message";
      if (message.startsWith("/")) {
        eventOption = "receive command";
      }
      socket.emit(eventOption, {
        message,
        chatroom: "{{chatroom}}",
      });
      $("input.message").val("").focus();
    });
  });
  let numberOfMessages = 0;
  socket.on("message response", function (message) {
    if (typeof message.username !== "undefined") {
      $("div.messages").append(
        "<p><b>" + message.username + ": </b>" + message.body + "</p>"
      );
      numberOfMessages++;
      if (numberOfMessages > 50) {
        $("div.messages > p:first").remove();
      }
    }
  });
  socket.on("command response", function (message) {
    $("div.messages").append(
      "<p><b>" + message.username + ": </b>" + message.body + "</p>"
    );
    numberOfMessages++;
    if (numberOfMessages > 50) {
      $("div.messages > p:first").remove();
    }
  });
</script>

{% endblock %}
